.box-card .card-statistic-1{border:.5px solid #dee2e6;border-radius: 4px;}
.box-card .card-icon{ border: .5px solid #dee2e6; }
.bg-body {background: #FAFDFB !important;}
.social_shared_icon{ width: 40px;height: 10px; }
.color_codes_div .media { border-bottom: 0; }
.bg-direction { background-color: #a45fff !important; }
.font-12 { font-size:12px !important; }