.dropdown-toggle::after{content:none !important;}
	.dropdown-toggle::before{content:none !important;}
	.ml-10{margin-left: 10px;}
	#searching{max-width: 30% !important;}
	#page_id{width: 150px !important;}
	#post_type{width: 110px !important;}
	@media (max-width: 575.98px) {
		#page_id{width: 130px !important;}
		#post_type{max-width: 105px !important;}
		#searching{max-width: 77% !important;}
	}
	.waiting {height: 100%;width:100%;display: table;}
	.waiting i{font-size:60px;display: table-cell; vertical-align: middle;padding:10px 0;}
	.waiting {padding-top: 50px;}